__pycache__
data/__pycache__
data/coco
data/kitti
data/seumm_dual

layers/__pycache__
layers/functions/__pycache__
layers/modules/__pycache__

utils/__pycache__


*.jpeg
*.jpg
*.png

*.mp4

weights
weights_bac
results

logs

